/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  /*   outline: 1px solid red; */
}
/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: "Mulish", sans-serif;
}

/* -- Content Container -- */
.container {
  margin: auto;
}
@media (min-width: 1279px) {
  .container {
    width: 1280px;
  }
}

/* Row Drid  */
.row {
  display: flex;
}
.row .left,
.row .right {
  width: 50%;
  margin: auto;
}
.row .left {
  margin-right: 15px;
}
.row .right {
  margin-left: 15px;
}
.content__stl .section-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.content__stl > p {
  color: #7d7987;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.content__btn {
  background-color: #458ff6;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 60px;
  border: none;
  outline: none;
  height: 60px;
  width: 200px;
  left: 190px;
  top: 561px;
  border-radius: 55px;
}

.valign-container {
  display: table;
  height: 100%;
  width: 100%;
}
.valign-container .valign-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.thumb-wrapper {
  overflow: hidden;
}
.thumb-wrapper img {
  max-width: 90%;
}
/* .section-bottom .thumb-wrapper img {
  max-width: 80%;
  margin-right: 5%;
} */

.header {
  display: flex;
  width: 90%;
  padding: 3% 3% 0%;
  font-size: 16px;

  justify-content: space-between;
}
@media (max-width: 480px) {
  .header {
    display: block;
  }

  .nav {
    display: block;
    font-size: 10px;
    line-height: 10px;
    justify-content: start;
    margin: 0% 2% 0%;
    width: 90%;
  }
  .header__img {
    justify-content: start;
  }
}
@media (max-width: 768px) {
  .header {
    display: inline-block;
    font-size: 12px;
  }
  .nav {
    display: inline-block;
    padding-top: 10px;
    font-size: 12px;
  }
}

.header__img {
  display: flex;
  /*   justify-content: start; */
}
.nav {
  display: flex;
  align-items: center;
  margin: 0% 10% 0% 0%;
  color: #7d7987;
  /*   font-size: 18px; */
  font-weight: 500;
  line-height: 14px;
}

.nav__home {
  text-decoration: none;
  margin-right: 1.4rem;
  color: #7d7987;
}
.nav__home:hover {
  color: #000;
  text-decoration: underline;
  font-weight: 600;
}

.nav__doc {
  text-decoration: none;
  margin-right: 1.4rem;
  color: #7d7987;
}
.nav__doc:hover {
  font-weight: 600;
  color: #000;
  text-decoration: underline;
}

.nav__apps {
  text-decoration: none;
  margin-right: 1.4rem;
  color: #7d7987;
}
.nav__apps:hover {
  font-weight: 600;
  color: #000;
  text-decoration: underline;
}

.nav__test {
  text-decoration: none;
  margin-right: 1.4rem;
  color: #7d7987;
}
.nav__test:hover {
  font-weight: 600;
  color: #000;
  text-decoration: underline;
}

.nav__about {
  text-decoration: none;
  color: #7d7987;
}
.nav__about:hover {
  color: #000;
  font-weight: 600;
  text-decoration: underline;
}
@media (max-width: 480px) {
  .section .row .left,
  .section .row .right {
    display: block;
    width: 100%;
  }
  .hero-section .row {
    display: block;
  }
  .hero-section .content__stl,
  .hero-section .thumb-wrapper {
    display: block;
    text-align: center;
    justify-content: center;
    padding: 3% 10% 0%;
    /* align-items: center; */
  }
}
.container {
  position: relative;
}

.hero-section {
  /* position: static; */
  /* margin-top: -140px; */
}
.hero-section .content__stl {
  max-width: 450px;
}

.hero-section .content__stl h1 {
  overflow: hidden;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 15px;
}

.hero-section .content__stl p {
  font-size: 21px;
  line-height: 32px;
  font-weight: 300;
}

.section-title {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 15px;
  font-size: 36px;
  line-height: 56px;
  font-weight: 700;
}
.section-title:after {
  content: "";
  height: 2px;
  width: 60px;
  background-color: #000000;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: auto;
}
@media (max-width: 480px) {
  .services-section {
    display: block;
    width: 100%;
  }
  .center {
    justify-content: center;
    text-align: center;
  }
  .services-section .center .section-title:after {
    position: static;
  }
}
.services-section {
  position: relative;
  display: flex;
  padding: 20px;
  max-width: 100%;
  margin-bottom: 80rem;
  /* margin-top: 15rem; */
}
.service-grid {
  position: absolute;
  left: 10%;
  right: 10%;
}

.center h2 {
  text-align: center;
  /* margin-left: 400px; */
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
}
.center p {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
  color: #7d7987;
}

.service-grid .section-title:after {
  display: flex;
  left: 65px;
  height: 2px;
  width: 60px;
}

@media (max-width: 480px) {
  .grid-container {
    position: relative;
    display: block;
    width: 100%;
    align-items: center;
  }
  .grid-wrapper {
    width: 200px;
    height: fit-content;
    margin: 1% 1% 1% 10%;
    padding: 2rem;
    font-size: 12px;
    line-height: normal;
  }
  .icon-wrapper {
    padding: 1%;
  }
  .content-wrapper {
    padding-bottom: 5%;
  }
  .services__bgimg {
    visibility: hidden;
  }
}
@media (min-width: 720px) {
  .services-section .center .section-title:after {
    position: static;
  }
  .grid-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }
  .grid-wrapper {
    width: 100%;
    justify-content: center;
    /* padding: 0% 1% 2% 1%; */
  }
}

.grid-wrapper {
  overflow: hidden;
  display: inline-block;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 1.2rem;
  /* margin-right: 1rem; */
  height: 354px;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 10px 40px 50px rgba(207, 212, 226, 0.4);
  z-index: 1;
}

.icon-wrapper {
  display: inline-block;
}
.content-wrapper {
  display: block;
}
.content-wrapper h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.content-wrapper p {
  margin-top: 20px;
  color: #7d7987;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}
.services__bgimg {
  position: absolute;
  margin-top: 15rem;
  margin-left: -15rem;
  z-index: -1;
}
.services__img {
  position: absolute;
  margin-left: 68rem;
  margin-top: 24rem;
  z-index: 1;
}
.services__btn {
  display: flex;
  position: relative;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.btn {
  position: relative;
  display: flex;
  outline: #458ff6;
  background-color: inherit;
  color: #458ff6;
  border: 2px solid #458ff6;
  padding-left: 3.2rem;
  font-size: 18px;
  line-height: 60px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  height: 60px;
  width: 200px;
  border-radius: 55px;
}
@media (max-width: 480px) {
  .section-providers,
  .section-download {
    position: relative;
    top: 1355px;
    text-align: center;
    width: 100%;
    font-size: 16px;
  }
  .section-providers .thumb-wrapper,
  .section-download .thumb-wrapper {
    margin: 0% 4% 0%;
  }
  .section-providers .row,
  .section-download .row {
    display: block;
    width: 100%;
  }
  .section-providers .section-title:after,
  .section-download .section-title::after {
    position: static;
    display: block;
    justify-content: center;
  }

  .download-btn,
  .providers__contentstl.btn {
    display: block;
    justify-content: center;
    margin: 2% 0% 0% 4%;
  }
}
.providers__contentstl,
.section-download-content {
  position: relative;
  margin-left: 14%;
  margin-right: 14%;
}

.providers__contentstl p {
  margin-top: 30px;
  margin-bottom: 45px;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  color: #7d7987;
}
.providers__content .btn {
  margin-top: 15px;
}

.section-download {
  margin-top: 12rem;
  margin-bottom: 16rem;
}
.section-download .download-btn,
.providers__contentstl.btn {
  display: flex;
  margin: 4% 0% 0% 0%;
  top: 0;
}

.section-download p {
  color: #7d7987;
}
.section-download .vector {
  position: relative;
  display: flex;
  margin-left: 0.5rem;
  margin-top: 1.4rem;
}

.section-download .thumb-wrapper {
  margin-top: 5rem;
}

@media (max-width: 480px) {
  .carousel {
    position: relative;
    /* top: 1325px; */
    width: 100%;
    margin: 0% 8% 0% 2%;
    height: max-content;
    visibility: hidden;
  }
  .carousel-wrapper {
    position: relative;
    width: 90%;
    display: block;
  }
  .carousel-title {
    display: inline-flex;
    width: 90%;
    font-size: 8px;
    font-weight: 400;
    text-align: start;
  }
  .carousel-wrapper .row {
    position: static;
    display: flex;
  }

  .carousel-infoline {
    justify-content: center;
  }
}

.carousel {
  width: 100%;
  height: 425px;
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 24px;
}

.carousel-title {
  margin: 4% 1% 0% 3%;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
}

.carousel-title .section-title:after {
  position: static;
  display: block;
  background-color: #ffffff;
}

@media (min-width: 720px) {
  .carousel-wrapper .carousel-edu {
    position: relative;
    display: grid;
    margin-top: 80px;
    color: #ffffff;
    /* margin-left: 100px; */
    grid-template-columns: 1fr 1fr;
  }
}
.carousel-edu div {
  color: #ffffffe6;
  margin-top: 50px;
  margin-left: -40px;
}

.carousel-edu div p {
  font-size: 22px;
  /* line-height: 48px; */
  font-weight: 700;
}

.carousel-edu div span {
  color: rgba(255, 255, 255, 0.85);
  font-size: 18px;
  font-weight: 400;
  margin-top: -3rem;
}

.right .carousel-infoline p {
  color: #ffffff;
  font-size: 19px;
  line-height: 30px;
  margin-top: 5rem;
  margin-right: 5rem;
}
.arrowbtn {
  border: none;
  outline: none;
  display: flex;
  background-color: transparent;
  color: #458ff6;
  font-size: 17px;
  font-weight: 600;
  line-height: 28px;
  margin-top: 1rem;
}

.arrowbtn img {
  margin-top: 0.6rem;
  margin-left: 0.2rem;
}
.fc__img {
  position: absolute;
  margin: 0;
  padding: 0;
  margin-left: 6rem;
  margin-top: 4rem;
  /* transform: rotate(90deg); */
}

.article__bgimg {
  position: absolute;
  margin-top: -3rem;
  margin-left: 40rem;
  transform: rotate(180deg);
  z-index: 1;
}
@media (max-width: 480px) {
  .latest-article {
    position: relative;
    top: 425px;
  }
}
.latest-article {
  position: relative;
  display: flex;
  margin-top: 20rem;
}
.grid-container {
  margin-top: 4rem;
}

.latest-article .section-title:after {
  position: static;
  display: block;
}

.latest-article .center h2 {
  font-size: 36px;
  line-height: 56px;
  font-weight: 700;
}

.grid-container .img-wrapper {
  width: 876px;
  margin-top: -50px;
  margin-left: -48px;
  margin-right: -80px;
}
.latest-article .grid-wrapper .content-wrapper h4 {
  margin-top: 15px;
  font-size: 18px;
  /* line-height: 24px; */
  margin-bottom: 15px;
  font-weight: 800;
}

/* 
.latest-article {
  margin-bottom: 65rem;
} */

.latest-article .grid-wrapper {
  height: 512px;
  width: 100%;
}
@media (max-width: 480px) {
  .footer-section {
    position: relative;
    top: 2435px;
  }
  .footer__grid {
    position: static;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer__img > div > p {
    position: absolute;
    display: block;
    padding-top: 183px;
    width: 100%;
  }
}

.footer {
  padding: 10%;
  color: #ffffff;
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  
}

@media (min-width: 720px) {
  .footer {
    position: relative;
    height:100%;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    padding: 4rem;
    bottom: 0;
    /* color: #ffffff; */
    top: 800px;
  }
  .footer__grid {
    position: relative;
    margin: 0;
    padding: 0;
    display: grid;
    margin-left: 10rem;
    /* margin-right: 10rem; */
    margin-top: -1rem;
    justify-content: center;
    padding: 4rem;
    color: #fff;
    /* grid-auto-rows: 100px, 20px, 20px 20px; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* gap: -10rem; */
  }
}

.footer__img > div > p {
  margin-top: 3rem;
  font-size: 1.1rem;
}
.footer__img > p {
  margin-top: 1rem;
}
.company {
  margin: 0;
  padding: 0;
  margin-left: 4rem;
  line-height: 42px;
}

.region {
  margin: 0;
  padding: 0;
  margin-left: 1rem;
  line-height: 42px;
}

.help {
  line-height: 42px;
}

.f00ter__img {
  position: absolute;
  margin: 0;
  padding: 0;
  margin-top: 15rem;
  line-height: 42px;
}
